body {
  font-family: "Saira", "sans-serif";
  background: rgb(252, 247, 255);
  background: rgb(252, 247, 255);
  background: rgb(252, 247, 255);
  background: linear-gradient(
    90deg,
    rgba(252, 247, 255, 1) 0%,
    rgba(253, 244, 255, 1) 43%,
    rgba(254, 239, 255, 1) 100%
  );
  color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  padding-left: 1vw;
  width: 100vw;
}

ul {
  font-size: 4vw;
  list-style-type: georgian;
  margin: 0;
  padding-left: 5vw;
}

li {
  a {
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: rgb(184, 90, 255);
    }
  }
}

a:visited {
  color: rgb(0, 0, 0);
}

#name {
  font-size: 8vw;
  font-weight: 500;

  #nameLink {
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: rgb(184, 90, 255);
    }
  }
}

img {
  width: 25vw;
}

main {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
}

#nypl {
  display: flex;
  justify-content: center;
  
}
